
	<!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<h2>About Us</h2>
			<div class="site-beradcamb">
				<a href="/">Home</a>
				<span><i class="fa fa-angle-right"></i> About Us</span>
			</div>
		</div>
	</section>
	<!-- Page info end -->

	<!-- About section -->
	<section class="about-section spad">
		
	<div class="container">
	<div >
        <img src="/static/img/quickex_team.html" alt="">
    </div>
    <div class="row">
        <div class="-mt-12 col about-text">
            <h3>Our Objective</h3>
            <p>
				Our objective at quickExchangeTrade™ is to make crypto trading simple and accessible for everyone.
				There are many crypto brokers out there, but we want to be your number one crypto broker.
			</p>
			<h5>
				What does crypto broker mean?
			</h5>
			<p>
				First, we are going to let you invest in the top coin (Bitcoin) long or short with leverage on our super user-friendly platform.
				Second, we are going to give you features that are typically only accessible at full-service brokerage firms...
				That’s the exciting stuff. But we did not forget the basics. Our customer support is top notch, and we take the security of your funds very very seriously.
				So let’s get into a bit more details about what we have available...<br>
			</p>
            <h5>
				Working with quickExchangeTrade™
			</h5>
			<p>
				There are 4 main ways a client works with a broker: account opening, depositing funds, trading and withdrawing
				funds. Our objective is to make each of these processes as simple and effective as possible.
			</p>
			<h5>
				Account Opening
			</h5>
			<p>
				Opening your account with quickExchangeTrade™ could not be any easier.  Simply fill out a sign-up 
				form, create a password and you are in!
			</p>
			<h5>
				Depositing Funds
			</h5>
			<p>
				Funding your account is also mega simple. We only take Bitcoin deposits at this time.
				If you don’t have Bitcoin and don’t know how to get it, chat up our agent at the live chat section on how to get it quickly, easily and securely.
				If you currently do have Bitcoin simply click the DEPOSIT button at the dashboard section after your signup on our platform.  
				Our deposit box containing a unique deposit address will open up. Simply send the amount you want to deposit to this address.
				Our system will receive the Bitcoin and credit your account with the amount deposited. And you are ready to go!
			</p>
			<h5>
				Trading
			</h5>
			<p>
				When it comes to trading our top priority is to be stable as possible as we can.
				We trade your assets, giving you optimal returns using the top market trading software algorithm.
				It may sound complex, but it’s not….Basically, it’s the same as buying or selling cryptos but you can go long or short term basis.
				Let’s assume that you have up to 10X leverage, Bitcoin is trading at $3500 and we think the price is going to drop.
				Based on this assumption we decide to short (bet that the price will drop) 1 Bitcoin. simply sell 1 BTC as the amount.
				With 10X leverage. And your trade will Move dollar for dollar with the price of the Bitcoin as if you were holding 1BTC.
				For example, if it's correct and Bitcoin drops by $100 to $3400 you will earn .028 BTC ($100 equivalent) on that trade.
				That is a 28% return on the margin that you put up!
				Naturally, you can see that a little money can go a long way with quickExchangeTrade™.
			</p>
			<h5>
				Withdrawals
			</h5>
			<p>
				Withdrawing funds is just as easy as depositing. Click the withdrawal option
				from the profile menu. Choose the amount you want to take out and enter your BTC wallet address 
				and we will send you your Bitcoin. It’s that simple!
			</p>		
			
        </div>
    </div>
    
</div>
	</section>
	<!-- About section end -->

	<!-- Fact section -->
	<section class="shadow shadow-2xl fact-section gradient-bg">
		

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
                <h2>12</h2>
                <p>Support <br> Countries</p>
                <i class="ti-credit-card"></i>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
                <h2>1K</h2>
                <p>Transactions  <br> per Hour</p>
                <i class="ti-panel"></i>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
                <h2>5m</h2>
                <p>Largest <br> Transactions</p>
                <i class="ti-stats-up"></i>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
                <h2>10</h2>
                <p>Years <br> of Experience</p>
                <i class="ti-user"></i>
            </div>
        </div>
    </div>
</div>
	</section>
	<!-- Fact section end -->

	<!-- Review section -->
	<section class=" review-section spad">
		
        <div class="container ">
            <div class="row">
                <div class="col-lg-8 push-8">
                    <img src="/static/img/quote.png_title_cryptobulk%e2%84%a2%20_%20Home_page_/title_bit.html" alt="" class="mb-5 quote">
                    <div class="review-text-slider owl-carousel">
                        <div class="review-text">
                            <p>
                                <i>
                                    They have an easy platform to use, both from nicely crafted 
                                    interface to great technical perspective. any body can navigate through the site
                                </i>
                            </p>
                        </div>
                        <div class="review-text">
                            <p>
                                <i> 
                                    When you think of crypto (bitcoin) investment you automatically think that is a very complex matter,
                                    but When I joined podxbt, i invested and started getting my returns even without any knowledge of how crypto market works.
                                </i>    
                            </p>
                        </div>
                        <div class="review-text">
                            <p>
                                <i>
                                    I have wanted a platform to start my crypot investment for a while now, because of the recent increase in crypto market investments.
                                    I spent days looking for a good brokers until i found podxbt, and it's being amazing.
                                </i>
                            </p>
                        </div>
                        <div class="review-text">
                            <p>
                                <i>
                                    podxbt has an excellent investment rate. The process is crystal clear
                                    and I really enjoy the experience. I got more than i expected.
                                </i>
                            </p>
                        </div>
                        <div class="review-text">
                            <p>
                                <i>
                                    For the past few years i have joined podxbt, I have achieved most of my dream. using proceeds
                                    from my investment with them. am glade i did.
                                </i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pr-0 col-lg-4 pull-3">
                    <div class="pt-5 review-meta-slider owl-carousel">
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg=" /static/img/1.jpg "></div>
                            <div class="author-name">
                                <h4>Delbert Benjamin</h4>
                            </div>
                        </div>
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg=" /static/img/2.jpg "></div>
                            <div class="author-name">
                                <h4>Peter Nash</h4>
                            </div>
                        </div>
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg=" /static/img/3.jpg "></div>
                            <div class="author-name">
                                <h4>Katy Smart</h4>
                            </div>
                        </div>
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg=" /static/img/team-1.jpg "></div>
                            <div class="author-name">
                                <h4>Nora larggard</h4>
                            </div>
                        </div>
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg=" /static/img/team-3.jpg "></div>
                            <div class="author-name">
                                <h4>Christian Isla</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                </section>
                <!-- Review section end -->
        
                <!-- Newsletter section --> 
                <section class="newsletter-section gradient-bg">
                    
                </section>
                <br>
                <br>
        
                <!-- Footer section -->
                <footer class="footer-section">
                    
        
        <div class="footer-area bg-gray-800" style="background-image:url(/static/img/bitunet_bg.png);background-size:cover;color:white;opacity:0.9; height:40% ">
        <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo">
                                        <a href="/">
                                            <h3 class="text-light">
                                                <a href="/" class="text-lg text-black site-logo bg-yellow-100 p-1 rounded-full shadow-md hover:shadow-2xl" >
                                                    📈RozzayCrypto™
                                                </a>
                                            </h3><br>
                                        </a>
                                        <font size="4" color="yellow">Contact :</font>
                                        <p>
                                            <font color="white" size="2" 
                                                📌123 East 27th Street, Sixth Floor, New York, NY 10023
                                            </font>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>
                                        <font size="4" color="yellow">
                                            Our Sectional Address
                                        </font>
                                    </h4>
                                    <ul>
                                        <li>
                                            
                                            <font size="2" color="white"><br>📌3 Leighton St, Cambridge, MA 03131, United States</font><br>
                                            <font size="2" color="white"><br>📞24/7 customer support and live chat available</font>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>
                                        <font size="4" color="yellow">
                                            Quick Link
                                        </font>
                                    </h4>
                                    <ul>
                                        <li><a href="/">Top🔼</a></li>
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/features">Features</a></li>
                                        <li><a href="/faq">FAQ</a></li>     
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <font size="4" color="yellow">Our Payment Gateway<hr></font>  <br> 
                                    <img src="/static/img/bitcoin_002.png" alt="btc" class="bg-gray-200 rounded-3xl p-1 h-12" > &nbsp;<br>
                                    <font size="2" color="white">
                                        Transactions are made using Bitcoin wallet addresses eleminating third party Transactions, 
                                        and ensuring secure and reliable Transactions, between us and our clients.
                                    </font>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-9 ">
                            <div class="footer-copy-right">
                                <p class="" style="color:white">
                                    Copyright &copy;2011 - <script>document.write(new Date().getFullYear());
                                    </script> All rights reserved | RozzayCrypto® financial investment firm.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                </footer>
        
        
        <div class="mgm" style="display: none;">
            <div class="txt" style="color:black;">
                Someone from <b>Australia</b> just Won 
                <strong href="javascript:void(0);" onclick="javascript:void(0);">
                    $1000 
                </strong>
            </div>
        </div>
        <style>
            .mgm {
                border-radius: 7px;
                position: fixed;
                z-index: 90;
                bottom: 80px;
                right: 50px;
                background: #fff;
                padding: 10px 27px;
                box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
            }
            .mgm a {
                font-weight: 700;
                display: block;
                color:#f2d516;
            }
            .mgm a, .mgm a:active {
                transition: all .2s ease;
                color:#f2d516;
            }
        </style>
        <script type="text/javascript">
            var listCountries = ['United Kingdom', 'USA', 'Germany', 'France', 'Italy', 'USA', 'Australia', 'Lesotho', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Kenya', 'Maldives', 'Venezuela', 'South Africa', 'Sweden', 'India', 'South Africa', 'Italy', 'Pakistan', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Portugal', 'Austria', 'South Africa', 'Panama', 'USA', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
            var listPlans = ['$500','$1500','$1000','$10,000','$2000','$3000','$4000', '$600', '$700', '$2500'];
            interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
            var run = setInterval(request, interval);
        
            function request() {
                clearInterval(run);
                interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
                var country = listCountries[Math.floor(Math.random() * listCountries.length)];
                var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
                var msg = 'Someone from <b>' + country + '</b> just Withdrew <strong href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </strong>';
                $(".mgm .txt").html(msg);
                $(".mgm").stop(true).fadeIn(2);
                window.setTimeout(function() {
                    $(".mgm").stop(true).fadeOut(100);
                }, 8000);
                run = setInterval(request, interval);
            }
        </script>
        <div class="mgm" style="display: none;">
            <div class="txt" style="color:black;">
                Someone from <b>Australia</b> just Won 
                <strong href="javascript:void(0);" onclick="javascript:void(0);">
                    $1000 
                </strong>
            </div>
        </div>
        
        <style>
            .mgm {
                border-radius: 7px;
                position: fixed;
                z-index: 90;
                bottom: 80px;
                right: 50px;
                background: #fff;
                padding: 10px 27px;
                box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
            }
            .mgm a {
                font-weight: 700;
                display: block;
                color:#f2d516;
            }
            .mgm a, .mgm a:active {
                transition: all .2s ease;
                color:#f2d516;
            }
        </style>
        <script type="text/javascript">
            var listCountries = ['London', 'Carlifornia', 'Germany', 'France', 'Italy', 'USA', 'Australia', 'Lesotho', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Kenya', 'Maldives', 'Venezuela', 'Soweto', 'Sweden', 'India', 'South Africa', 'Italy', 'Pakistan', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Delhi', 'Austria', 'South Africa', 'Panama', 'USA', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
            var listPlans = ['$2008','$5002','$1000','$2015','$8123','$3020','$402', '$600', '$700', '$2500'];
            interval = Math.floor(Math.random() * (30000 - 8000 + 1) + 8000);
            var run = setInterval(request, interval);
        
            function request() {
                clearInterval(run);
                interval = Math.floor(Math.random() * (30000 - 8000 + 1) + 8000);
                var country = listCountries[Math.floor(Math.random() * listCountries.length)];
                var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
                var msg = 'Someone from <b>' + country + '</b> just Won <strong href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </strong>';
                $(".mgm .txt").html(msg);
                $(".mgm").stop(true).fadeIn(2);
                window.setTimeout(function() {
                    $(".mgm").stop(true).fadeOut(100);
                }, 8000);
                run = setInterval(request, interval);
            }
        </script>
        
        <style>
            .mgm {
                border-radius: 7px;
                position: fixed;
                z-index: 90;
                bottom: 80px;
                right: 50px;
                background: #fff;
                padding: 10px 27px;
                box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
            }
            .mgm a {
                font-weight: 700;
                display: block;
                color:#f2d516;
            }
            .mgm a, .mgm a:active {
                transition: all .2s ease;
                color:#f2d516;
            }
        </style>
        <script type="text/javascript">
            var listCountries = ['United Kingdom', 'USA', 'Germany', 'France', 'Italy', 'USA', 'Australia', 'Lesotho', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Kenya', 'Maldives', 'Venezuela', 'South Africa', 'Sweden', 'India', 'South Africa', 'Italy', 'Pakistan', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Portugal', 'Austria', 'South Africa', 'Panama', 'USA', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
            var listPlans = ['$500','$1500','$1000','$10,000','$2000','$3000','$4000', '$600', '$700', '$2500'];
            interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
            var run = setInterval(request, interval);
        
            function request() {
                clearInterval(run);
                interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
                var country = listCountries[Math.floor(Math.random() * listCountries.length)];
                var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
                var msg = 'Someone from <b>' + country + '</b> just Withdrew <strong href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </strong>';
                $(".mgm .txt").html(msg);
                $(".mgm").stop(true).fadeIn(2);
                window.setTimeout(function() {
                    $(".mgm").stop(true).fadeOut(100);
                }, 8000);
                run = setInterval(request, interval);
            }
        </script>
        