
	<!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<h3>Frequently Asked Questions</h3>
			<div class="site-beradcamb">
				<a href="/">Home</a>
				<span><i class="fa fa-angle-right"></i> FAQ</span>
			</div>
		</div>
	</section>
	<!-- Page info end -->

	<!-- About section -->
	<section class="-mt-20 about-section spad">
		<div class="container ">
            <div class="row">
                <div class="col-lg-6 about-text">
                    <h3>How does blockchain work?</h3>
                    <p>
                        Blockchain and how it works defines how Bitcoin works. It is a digital ledger that stores every single transaction. 
                        If I sell a pair of shoes to you for $10, that transaction can be engraved on a digital ledger that is immutable.
                        The ledger is not owned by a bank or any centralized database. It is decentralized, which means it is hosted by a network
                        of computers across the world. Some of the computers belong to large groups and some of the computers belong to individuals.
                    </p>
                </div>
                <div class="col-lg-6 about-text">
                    <h3>What is blockchain ?</h3>
                    <p>
                        Blockchain is a new technology with far-reaching applications that can annihilate banking services, if not banks
                        altogether, and redesign transactions across a multitude of businesses and industries. It is a digital ledger that 
                        records transactions publicly or privately, and sequentially. It can facilitate peer-to-peer transactions, eliminating
                        or reducing the need for middlemen. Through encryption and decentralization, blockchain creates trust. With Bitcoin’s blockchain,
                        anyone can see all transactions.
                    </p>
                </div>
            </div>
        </div>
		<div class="container ">
            <div class="row">
                <div class="col-lg-6 about-text">
                    <h3>What is Bitcoin</h3>
                    <h5>Bitcoin is an innovative payment network and a new kind of money.</h5>
                    <p>
                        Bitcoin is one of the most important inventions in all of human history. For the first time ever, anyone can send or receive 
                        any amount of money with anyone else, anywhere on the planet, conveniently and without restriction. It’s the dawn of a better, more free world.
                    </p>
                </div>
                <div class="col-lg-6 about-text">
                    <h3>What’s a Bitcoin address ?</h3>
                    <p>
                        A Bitcoin address is a digital string of numbers and letters you need in order to send and receive Bitcoin.
                        They usually contain 26 characters. Your friend can have a different Bitcoin address. When your friend tells you their 
                        Bitcoin address, you can send them Bitcoin.
                    </p>
                </div>
            </div>
        </div>
		<div class="container ">
            <div class="row">
                <div class="col-lg-6 about-text">
                    <h3>Are there risks to lose money?</h3>
                    <p>
                        Bitcoin is one of the most important inventions in all of human history. For the first time ever, anyone can send or receive 
                        any amount of money with anyone else, anywhere on the planet, conveniently and without restriction. It’s the dawn of a better, more free world.
                    </p>
                </div>
                <div class="col-lg-6 about-text">
                    <h3>What’s a Bitcoin address ?</h3>
                    <p>
                        A Bitcoin address is a digital string of numbers and letters you need in order to send and receive Bitcoin.
                        They usually contain 26 characters. Your friend can have a different Bitcoin address. When your friend tells you their 
                        Bitcoin address, you can send them Bitcoin.
                    </p>
                </div>
            </div>
        </div>
		<div class="container ">
            <div class="row">
                <div class="col-lg-6 about-text">
                    <h3>How is the interest calculated? </h3>
                    <p>
                        Your interest is calculated every business day based on the size of your deposit.
                    </p>
                </div>
                <div class="col-lg-6 about-text">
                    <h3>What is the process of investing? </h3>
                    <p>
                        To make investments you should register, create an account and then you can make your deposit.
                        All the investments are made in your personal account after login.
                    </p>
                </div>
            </div>
        </div>
	</section>
	<!-- About section end -->

	<!-- Fact section -->
	<section class="fact-section gradient-bg">
		

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
                <h2>12</h2>
                <p>Support <br> Countries</p>
                <i class="ti-credit-card"></i>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
                <h2>1K</h2>
                <p>Transactions  <br> per Hour</p>
                <i class="ti-panel"></i>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
                <h2>5m</h2>
                <p>Largest <br> Transactions</p>
                <i class="ti-stats-up"></i>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
                <h2>10</h2>
                <p>Years <br> of Experience</p>
                <i class="ti-user"></i>
            </div>
        </div>
    </div>
</div>
	</section>
	<!-- Fact section end -->

	<!-- Footer section -->
	<footer class="footer-section">
		

<div class="footer-area bg-gray-800" style="background-image:url(../static/img/bitunet_bg.png);background-size:cover;color:white;opacity:0.9; height:40% ">
<div class="container">
        <div class="footer-top footer-padding">
            <div class="row justify-content-between">
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="/">
                                    <h3 class="text-light">
                                        <a href="/" class="text-lg text-black site-logo bg-yellow-100 p-1 rounded-full shadow-md hover:shadow-2xl" >
                                            📈RozzayCrypto™
                                        </a>
                                    </h3><br>
                                </a>
                                <font size="4" color="yellow">Contact :</font>
                                <p>
                                    <font color="white" size="2" >
                                        📌123 East 27th Street, Sixth Floor, New York, NY 10023
                                    </font>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>
                                <font size="4" color="yellow">
                                    Our Sectional Address
                                </font>
                            </h4>
                            <ul>
                                <li>
                                    
                                    <font size="2" color="white"><br>📌3 Leighton St, Cambridge, MA 03131, United States</font><br>
                                    <font size="2" color="white"><br>📞24/7 customer support and live chat available</font>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>
                                <font size="4" color="yellow">
                                    Quick Link
                                </font>
                            </h4>
                            <ul>
                                <li><a href="/">Top🔼</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/features">Features</a></li>
                                <li><a href="/faq">FAQ</a></li>     
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <font size="4" color="yellow">Our Payment Gateway<hr></font>  <br> 
                            <img src="../static/img/bitcoin_002.png" alt="btc" class="bg-gray-200 rounded-3xl p-1 h-12" > &nbsp;<br>
							<font size="2" color="white">
                                Transactions are made using Bitcoin wallet addresses eleminating third party Transactions, 
                                and ensuring secure and reliable Transactions, between us and our clients.
                            </font>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-xl-9 col-lg-9 ">
                    <div class="footer-copy-right">
                        <p class="" style="color:white">
                            Copyright &copy;2011 - <script>document.write(new Date().getFullYear());
                            </script> All rights reserved | RozzayCrypto® financial investment firm.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	</footer>

    



	<meta charset="UTF-8">
	<meta name="description" content="Cryptocurrency Landing Page Template">
	<meta name="keywords" content="cryptocurrency, investment, bitcoin, forex, investment, high margin">
	
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="../static/img/favicon.html" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="../../cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" >
	<link rel="stylesheet" href="../static/css/animate.css">
	<link rel="stylesheet" href="../static/css/public/styles.css"><!--***** tailwind.css linkage ****	-->
	<link rel="stylesheet" href="../static/css/cryptobulk/flaticon.css.html">
	<link rel="stylesheet" href="../static/css/cryptobulk/themify-icons.html">
	<link rel="stylesheet" href="../static/css/cryptobulk/slick.html">
	<link rel="stylesheet" href="../static/css/cryptobulk/slicknav.html">
	<link rel="stylesheet" href="../static/css/cryptobulk/responsive.html">
	<link rel="stylesheet" href="../static/css/cryptobulk/nice-select.html">
	<link rel="stylesheet" href="../static/css/cryptobulk/bootstrap.min.html">
	<link rel="stylesheet" href="../static/css/cryptobulk/main.html">
	<link rel="stylesheet" href="../static/css/cryptobulk/crypto-mst_style.html">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/themify-icons.css">
	<link rel="stylesheet" href="../static/css/animate.css">
	<link rel="stylesheet" href="../static/css/owl.carousel.css">
	<link rel="stylesheet" href="../static/css/style.css">

	<script src="../static/js/wow.min.js"></script>
	<script>
	new WOW().init();
	</script>

<!-- GetButton.io widget -->
//   <script type="text/javascript">
//     (function () {
//       var options = {
//         whatsapp: "", // WhatsApp number
//         call_to_action: "Message us", // Call to action
//         position: "left", // Position may be 'right' or 'left'
//         };
//       var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
//       var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
//         s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
//       var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
//     })();
//   </script>
  <!-- /GetButton.io widget -->
  
  


<div class="mgm" style="display: none;">
    <div class="txt" style="color:black;">
        Someone from <b>Australia</b> just Won 
        <strong href="javascript:void(0);" onclick="javascript:void(0);">
            $1000 
        </strong>
    </div>
</div>
<style>
    .mgm {
        border-radius: 7px;
        position: fixed;
        z-index: 90;
        bottom: 80px;
        right: 50px;
        background: #fff;
        padding: 10px 27px;
        box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
    }
    .mgm a {
        font-weight: 700;
        display: block;
        color:#f2d516;
    }
    .mgm a, .mgm a:active {
        transition: all .2s ease;
        color:#f2d516;
    }
</style>
<script type="text/javascript">
    var listCountries = ['United Kingdom', 'USA', 'Germany', 'France', 'Italy', 'USA', 'Australia', 'Lesotho', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Kenya', 'Maldives', 'Venezuela', 'South Africa', 'Sweden', 'India', 'South Africa', 'Italy', 'Pakistan', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Portugal', 'Austria', 'South Africa', 'Panama', 'USA', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
    var listPlans = ['$500','$1500','$1000','$10,000','$2000','$3000','$4000', '$600', '$700', '$2500'];
    interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
    var run = setInterval(request, interval);

    function request() {
        clearInterval(run);
        interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
        var country = listCountries[Math.floor(Math.random() * listCountries.length)];
        var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
        var msg = 'Someone from <b>' + country + '</b> just Withdrew <strong href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </strong>';
        $(".mgm .txt").html(msg);
        $(".mgm").stop(true).fadeIn(2);
        window.setTimeout(function() {
            $(".mgm").stop(true).fadeOut(100);
        }, 8000);
        run = setInterval(request, interval);
    }
</script>
<div class="mgm" style="display: none;">
    <div class="txt" style="color:black;">
        Someone from <b>Australia</b> just Won 
        <strong href="javascript:void(0);" onclick="javascript:void(0);">
            $1000 
        </strong>
    </div>
</div>

<style>
    .mgm {
        border-radius: 7px;
        position: fixed;
        z-index: 90;
        bottom: 80px;
        right: 50px;
        background: #fff;
        padding: 10px 27px;
        box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
    }
    .mgm a {
        font-weight: 700;
        display: block;
        color:#f2d516;
    }
    .mgm a, .mgm a:active {
        transition: all .2s ease;
        color:#f2d516;
    }
</style>
<script type="text/javascript">
    var listCountries = ['London', 'Carlifornia', 'Germany', 'France', 'Italy', 'USA', 'Australia', 'Lesotho', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Kenya', 'Maldives', 'Venezuela', 'Soweto', 'Sweden', 'India', 'South Africa', 'Italy', 'Pakistan', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Delhi', 'Austria', 'South Africa', 'Panama', 'USA', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
    var listPlans = ['$2008','$5002','$1000','$2015','$8123','$3020','$402', '$600', '$700', '$2500'];
    interval = Math.floor(Math.random() * (30000 - 8000 + 1) + 8000);
    var run = setInterval(request, interval);

    function request() {
        clearInterval(run);
        interval = Math.floor(Math.random() * (30000 - 8000 + 1) + 8000);
        var country = listCountries[Math.floor(Math.random() * listCountries.length)];
        var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
        var msg = 'Someone from <b>' + country + '</b> just Won <strong href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </strong>';
        $(".mgm .txt").html(msg);
        $(".mgm").stop(true).fadeIn(2);
        window.setTimeout(function() {
            $(".mgm").stop(true).fadeOut(100);
        }, 8000);
        run = setInterval(request, interval);
    }
</script>

<style>
    .mgm {
        border-radius: 7px;
        position: fixed;
        z-index: 90;
        bottom: 80px;
        right: 50px;
        background: #fff;
        padding: 10px 27px;
        box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
    }
    .mgm a {
        font-weight: 700;
        display: block;
        color:#f2d516;
    }
    .mgm a, .mgm a:active {
        transition: all .2s ease;
        color:#f2d516;
    }
</style>
<script type="text/javascript">
    var listCountries = ['United Kingdom', 'USA', 'Germany', 'France', 'Italy', 'USA', 'Australia', 'Lesotho', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Kenya', 'Maldives', 'Venezuela', 'South Africa', 'Sweden', 'India', 'South Africa', 'Italy', 'Pakistan', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Portugal', 'Austria', 'South Africa', 'Panama', 'USA', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
    var listPlans = ['$500','$1500','$1000','$10,000','$2000','$3000','$4000', '$600', '$700', '$2500'];
    interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
    var run = setInterval(request, interval);

    function request() {
        clearInterval(run);
        interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
        var country = listCountries[Math.floor(Math.random() * listCountries.length)];
        var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
        var msg = 'Someone from <b>' + country + '</b> just Withdrew <strong href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </strong>';
        $(".mgm .txt").html(msg);
        $(".mgm").stop(true).fadeIn(2);
        window.setTimeout(function() {
            $(".mgm").stop(true).fadeOut(100);
        }, 8000);
        run = setInterval(request, interval);
    }
</script>


<script src="../static/js/jquery.html"></script>
<script src="../static/js/bootstrap.html"></script>







    
	<!--====== Javascripts & Jquery ======-->
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/main.js"></script>

<!-- Mirrored from www.crypto-bulk.com/faq/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 05 Dec 2021 16:36:44 GMT -->
</html>
