
	<!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<h2>features</h2>
			<div class="site-beradcamb">
				<a href="/">Home</a>
				<span><i class="fa fa-angle-right"></i> feature</span>
			</div>
		</div>
	</section>
	<!-- Page info end -->
    <br>

	<!-- About section -->
    <section class="features-section spad gradient-bg" id="feature">    
		
<div class="container text-white" id="">
    <div class="text-center section-title">
        <h2>Our Features</h2>
        <p>
            RozzayCrypto™ provids the easy and surest ways to invest in the cyptocurrency market.
        </p>
    </div>
    <div class="row">
        <!-- feature -->
        <div class="col-md-6 col-lg-4 feature">
            <i class="ti-mobile"></i>
            <div class="feature-content wow bounceInUp" data-wow-duration="1s" data-wow-delay="1s">
                <h4>Accessibility</h4>
                <p>
                    Access to our Site from any platform, any time, any where.
                </p>
            </div>
        </div>
        <!-- feature -->
        <div class="col-md-6 col-lg-4 feature">
            <i class="ti-shield"></i>
            <div class="feature-content wow bounceInUp" data-wow-duration="1s" data-wow-delay="1s">
                <h4>Safe & Secure</h4>
                <p>
                    The platform is protected and guarded by DDoS-Guard which ensures that 
                    our servers are always protected against DDoS attacks.
                </p>
            </div>
        </div>
        <!-- feature -->
        <div class="col-md-6 col-lg-4 feature">
            <i class="ti-wallet"></i>
            <div class="feature-content wow bounceInUp" data-wow-duration="1s" data-wow-delay="1s">
                <h4>Wallet</h4>
                <p>
                    Every client is entitled to a personal wallet in a dashboard to monitor every progress.
                </p>
            </div>
        </div>
        <!-- feature -->
        <div class="col-md-6 col-lg-4 feature">
            <i class="ti-headphone-alt"></i>
            <div class="feature-content wow bounceInUp" data-wow-duration="1s" data-wow-delay="1s">
                <h4>Experts Support</h4>
                <p>
                    Get support from our professional traders and 24/7 agents to take your complaints.
                </p>
            </div>
        </div>
        <!-- feature -->
        <div class="col-md-6 col-lg-4 feature">
            <i class="ti-reload"></i>
            <div class="feature-content wow bounceInUp" data-wow-duration="1s" data-wow-delay="1s">
                <h4>Instant Exchange</h4>
                <p>
                    Quick deposits using our wallet address, will ensure there is no third party involvement.
                    Fast transfer during deposits and withdrawal is a priority.
                </p>
            </div>
        </div>
        <!-- feature -->
        <div class="col-md-6 col-lg-4 feature">
            <i class="ti-panel"></i>
            <div class="feature-content wow bounceInUp" data-wow-duration="1s" data-wow-delay="1s">
                <h4>access to live market chart</h4>
                <p>
                    RozzayCrypto™ gives you live market data so youll 
                    have all the information you will need to invest.
                </p>
            </div>
        </div>
    </div>
</div>
	</section>
	<!-- About section end -->
    <br><br><br><br>
	<!-- Fact section -->
	<section class="fact-section gradient-bg">
		

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
                <h2>12</h2>
                <p>Support <br> Countries</p>
                <i class="ti-credit-card"></i>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
                <h2>1K</h2>
                <p>Transactions  <br> per Hour</p>
                <i class="ti-panel"></i>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
                <h2>5m</h2>
                <p>Largest <br> Transactions</p>
                <i class="ti-stats-up"></i>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="fact">
                <h2>10</h2>
                <p>Years <br> of Experience</p>
                <i class="ti-user"></i>
            </div>
        </div>
    </div>
</div>
	</section>
	<!-- Fact section end -->

	<!-- Review section -->
	<section class="review-section spad">
		

        <div class="container ">
            <div class="row">
                <div class="col-lg-8 push-8">
                    <img src="/static/img/quote.png_title_cryptobulk%e2%84%a2%20_%20Home_page_/title_bit.html" alt="" class="mb-5 quote">
                    <div class="review-text-slider owl-carousel">
                        <div class="review-text">
                            <p>
                                <i>
                                    They have an easy platform to use, both from nicely crafted 
                                    interface to great technical perspective. any body can navigate through the site
                                </i>
                            </p>
                        </div>
                        <div class="review-text">
                            <p>
                                <i> 
                                    When you think of crypto (bitcoin) investment you automatically think that is a very complex matter,
                                    but When I joined podxbt, i invested and started getting my returns even without any knowledge of how crypto market works.
                                </i>    
                            </p>
                        </div>
                        <div class="review-text">
                            <p>
                                <i>
                                    I have wanted a platform to start my crypot investment for a while now, because of the recent increase in crypto market investments.
                                    I spent days looking for a good brokers until i found podxbt, and it's being amazing.
                                </i>
                            </p>
                        </div>
                        <div class="review-text">
                            <p>
                                <i>
                                    podxbt has an excellent investment rate. The process is crystal clear
                                    and I really enjoy the experience. I got more than i expected.
                                </i>
                            </p>
                        </div>
                        <div class="review-text">
                            <p>
                                <i>
                                    For the past few years i have joined podxbt, I have achieved most of my dream. using proceeds
                                    from my investment with them. am glade i did.
                                </i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pr-0 col-lg-4 pull-3">
                    <div class="pt-5 review-meta-slider owl-carousel">
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg=" /static/img/1.jpg "></div>
                            <div class="author-name">
                                <h4>Delbert Benjamin</h4>
                            </div>
                        </div>
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg=" /static/img/2.jpg "></div>
                            <div class="author-name">
                                <h4>Peter Nash</h4>
                            </div>
                        </div>
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg=" /static/img/3.jpg "></div>
                            <div class="author-name">
                                <h4>Katy Smart</h4>
                            </div>
                        </div>
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg=" /static/img/team-1.jpg "></div>
                            <div class="author-name">
                                <h4>Nora larggard</h4>
                            </div>
                        </div>
                        <div class="author-meta">
                            <div class="author-avatar set-bg" data-setbg=" /static/img/team-3.jpg "></div>
                            <div class="author-name">
                                <h4>Christian Isla</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                </section>
                <!-- Review section end -->
        
                <!-- Newsletter section --> 
                <section class="newsletter-section gradient-bg">
                    
                </section>
                <br>
                <br>
        
                <!-- Footer section -->
                <footer class="footer-section">
                    
        
        <div class="footer-area bg-gray-800" style="background-image:url(/static/img/bitunet_bg.png);background-size:cover;color:white;opacity:0.9; height:40% ">
        <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo">
                                        <a href="/">
                                            <h3 class="text-light">
                                                <a href="/" class="text-lg text-black site-logo bg-yellow-100 p-1 rounded-full shadow-md hover:shadow-2xl" >
                                                    📈RozzayCrypto™
                                                </a>
                                            </h3><br>
                                        </a>
                                        <font size="4" color="yellow">Contact :</font>
                                        <p>
                                            <font color="white" size="2" 
                                                📌123 East 27th Street, Sixth Floor, New York, NY 10023
                                            </font>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>
                                        <font size="4" color="yellow">
                                            Our Sectional Address
                                        </font>
                                    </h4>
                                    <ul>
                                        <li>
                                            
                                            <font size="2" color="white"><br>📌3 Leighton St, Cambridge, MA 03131, United States</font><br>
                                            <font size="2" color="white"><br>📞24/7 customer support and live chat available</font>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>
                                        <font size="4" color="yellow">
                                            Quick Link
                                        </font>
                                    </h4>
                                    <ul>
                                        <li><a href="/">Top🔼</a></li>
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/features">Features</a></li>
                                        <li><a href="/faq">FAQ</a></li>     
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <font size="4" color="yellow">Our Payment Gateway<hr></font>  <br> 
                                    <img src="/static/img/bitcoin_002.png" alt="btc" class="bg-gray-200 rounded-3xl p-1 h-12" > &nbsp;<br>
                                    <font size="2" color="white">
                                        Transactions are made using Bitcoin wallet addresses eleminating third party Transactions, 
                                        and ensuring secure and reliable Transactions, between us and our clients.
                                    </font>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-9 ">
                            <div class="footer-copy-right">
                                <p class="" style="color:white">
                                    Copyright &copy;2011 - <script>document.write(new Date().getFullYear());
                                    </script> All rights reserved | RozzayCrypto® financial investment firm.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                </footer>
        
        
        <div class="mgm" style="display: none;">
            <div class="txt" style="color:black;">
                Someone from <b>Australia</b> just Won 
                <strong href="javascript:void(0);" onclick="javascript:void(0);">
                    $1000 
                </strong>
            </div>
        </div>
        <style>
            .mgm {
                border-radius: 7px;
                position: fixed;
                z-index: 90;
                bottom: 80px;
                right: 50px;
                background: #fff;
                padding: 10px 27px;
                box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
            }
            .mgm a {
                font-weight: 700;
                display: block;
                color:#f2d516;
            }
            .mgm a, .mgm a:active {
                transition: all .2s ease;
                color:#f2d516;
            }
        </style>
        <script type="text/javascript">
            var listCountries = ['United Kingdom', 'USA', 'Germany', 'France', 'Italy', 'USA', 'Australia', 'Lesotho', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Kenya', 'Maldives', 'Venezuela', 'South Africa', 'Sweden', 'India', 'South Africa', 'Italy', 'Pakistan', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Portugal', 'Austria', 'South Africa', 'Panama', 'USA', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
            var listPlans = ['$500','$1500','$1000','$10,000','$2000','$3000','$4000', '$600', '$700', '$2500'];
            interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
            var run = setInterval(request, interval);
        
            function request() {
                clearInterval(run);
                interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
                var country = listCountries[Math.floor(Math.random() * listCountries.length)];
                var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
                var msg = 'Someone from <b>' + country + '</b> just Withdrew <strong href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </strong>';
                $(".mgm .txt").html(msg);
                $(".mgm").stop(true).fadeIn(2);
                window.setTimeout(function() {
                    $(".mgm").stop(true).fadeOut(100);
                }, 8000);
                run = setInterval(request, interval);
            }
        </script>
        <div class="mgm" style="display: none;">
            <div class="txt" style="color:black;">
                Someone from <b>Australia</b> just Won 
                <strong href="javascript:void(0);" onclick="javascript:void(0);">
                    $1000 
                </strong>
            </div>
        </div>
        
        <style>
            .mgm {
                border-radius: 7px;
                position: fixed;
                z-index: 90;
                bottom: 80px;
                right: 50px;
                background: #fff;
                padding: 10px 27px;
                box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
            }
            .mgm a {
                font-weight: 700;
                display: block;
                color:#f2d516;
            }
            .mgm a, .mgm a:active {
                transition: all .2s ease;
                color:#f2d516;
            }
        </style>
        <script type="text/javascript">
            var listCountries = ['London', 'Carlifornia', 'Germany', 'France', 'Italy', 'USA', 'Australia', 'Lesotho', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Kenya', 'Maldives', 'Venezuela', 'Soweto', 'Sweden', 'India', 'South Africa', 'Italy', 'Pakistan', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Delhi', 'Austria', 'South Africa', 'Panama', 'USA', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
            var listPlans = ['$2008','$5002','$1000','$2015','$8123','$3020','$402', '$600', '$700', '$2500'];
            interval = Math.floor(Math.random() * (30000 - 8000 + 1) + 8000);
            var run = setInterval(request, interval);
        
            function request() {
                clearInterval(run);
                interval = Math.floor(Math.random() * (30000 - 8000 + 1) + 8000);
                var country = listCountries[Math.floor(Math.random() * listCountries.length)];
                var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
                var msg = 'Someone from <b>' + country + '</b> just Won <strong href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </strong>';
                $(".mgm .txt").html(msg);
                $(".mgm").stop(true).fadeIn(2);
                window.setTimeout(function() {
                    $(".mgm").stop(true).fadeOut(100);
                }, 8000);
                run = setInterval(request, interval);
            }
        </script>
        
        <style>
            .mgm {
                border-radius: 7px;
                position: fixed;
                z-index: 90;
                bottom: 80px;
                right: 50px;
                background: #fff;
                padding: 10px 27px;
                box-shadow: 0px 5px 13px 0px rgba(0,0,0,.3);
            }
            .mgm a {
                font-weight: 700;
                display: block;
                color:#f2d516;
            }
            .mgm a, .mgm a:active {
                transition: all .2s ease;
                color:#f2d516;
            }
        </style>
        <script type="text/javascript">
            var listCountries = ['United Kingdom', 'USA', 'Germany', 'France', 'Italy', 'USA', 'Australia', 'Lesotho', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Kenya', 'Maldives', 'Venezuela', 'South Africa', 'Sweden', 'India', 'South Africa', 'Italy', 'Pakistan', 'United Kingdom', 'South Africa', 'Greece', 'Cuba', 'South Africa', 'Portugal', 'Austria', 'South Africa', 'Panama', 'USA', 'South Africa', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
            var listPlans = ['$500','$1500','$1000','$10,000','$2000','$3000','$4000', '$600', '$700', '$2500'];
            interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
            var run = setInterval(request, interval);
        
            function request() {
                clearInterval(run);
                interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
                var country = listCountries[Math.floor(Math.random() * listCountries.length)];
                var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
                var msg = 'Someone from <b>' + country + '</b> just Withdrew <strong href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </strong>';
                $(".mgm .txt").html(msg);
                $(".mgm").stop(true).fadeIn(2);
                window.setTimeout(function() {
                    $(".mgm").stop(true).fadeOut(100);
                }, 8000);
                run = setInterval(request, interval);
            }
        </script>
        
        