
<body class="bg-gray-900">
    <!-- sidebar -->
    <div class="fixed z-30 hidden h-screen col-span-4 -ml-32 overflow-y-auto bg-gray-800 border-t shadow-2xl mt-14 sm:mt-0 md:block " id="sideMenu">
        <div class="py-20 mt-">
            <ul class="justify-center -mt-16 space-y-4 text-lg space-x-">
                <li class="h-12 ml-20 text-lg text-red-400 border-b px-14 md:flex hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white" href="/">
                        &nbsp; RozzayCrypto™
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white" href="/dashboard">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/dashboard_50px.png " alt="" class="h-6">
                        </span>
                        &nbsp; Dashboard
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/deposit">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/add_new_50px.png " alt="" class="h-6">
                        </span>
                        &nbsp;Deposit
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/verify ">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/upload_document_50px_2.png " alt="" class="h-6">
                        </span>
                        &nbsp; Verification
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/withdraw ">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/bank_building_50px_2.png " alt="" class="h-6">
                        </span>
                        &nbsp;Withdraw&nbsp&nbsp;Funds
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/notification ">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/notification_50px.png " alt="" class="h-6">
                        </span>
                        &nbsp;Notifications
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/transacts">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/ledger_50px.png " alt="" class="h-6">
                        </span>
                        &nbsp;Transaction&nbsp;history
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/pending_withdraw">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/icons8_expired_50px.png " alt="" class="w-10">
                        </span>
                        &nbsp;Pending&nbsp;withdrawals
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/pending_deposit">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/payment_history_50px.png " alt="" class="h-6">
                        </span>
                        &nbsp;Pending&nbsp;deposits
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/profile">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/profile_50px.png " alt="" class="h-6">
                        </span>
                        &nbsp; Profile
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- sidebar ends -->
    <div class="md:ml-60 ">
        <!-- topnav -->
        

<div class="fixed z-30 flex items-center w-full h-16 gap-20 -mt-2 bg-gray-800 shadow-2xl justify-between md:justify-center md:gap-3">
    <div class="px-4 cursor-pointer md:hidden" id="ham">
        <img src="/static/img/dash_icons/icons8_menu_50px.png " alt="hamburger" class="h-8">
    </div>
    <div class="ml-60   ">
        <nav class="shadow-lg ">
            <ul class="flex gap-4 text-white text-md ">
                <li>logout </li>
                <li class="flex gap-3 " >
                    <a href="/logout/">
                        <img src="/static/img/dash_icons/shutdown_50px_1.png  " alt="" class="h-6 ">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
        <!-- / .topnav -->
        <div class="-mt-8 md:mr-">
            <div class="grid-cols-12 px-2 py-10 mt-10 md:p-3 sm:px-10 " id="main_content">
                <div class="lg:px-10">
                    <div class="py-5 mt-10 text-lg text-white md:text-2xl">
                        <div class="flex items-center gap-2">
                            <img src="/static/img/dash_icons/payment_history_50px.png " alt="" class="h-6">
                            Pending Deposits
                        </div>
                    </div>
                    <div class="bg-gray-800 border-t border-green-400 rounded-lg shadow-2xl py-">
                        <div class="overflow-x-auto text-sm text-gray-200">
                            <div class="grid grid-cols-12 px-10 gap-10 border-b py-3">
                                <div class="col-span-2">
                                    Amount
                                </div>
                                <div class="col-span-2 ml-">
                                    Status
                                </div>
                                <div class="col-span-2 ml-2 xl:ml-32 lg:ml-62">
                                    Date_filled
                                </div>
                            </div>  
                            <% history.map(h => {%>
                                <div class="grid grid-cols-12 gap-10 px-10 py-3 border-b">
                                    <div class="col-span-2 text-white">
                                        <%= h.amount %>
                                    </div>
                                    <div class="col-span-2 text-white ml-20">
                                        <%= h.status %>
                                    </div>
                                    <div class="col-span-2 text-white ml-20">
                                        <%= new Date(h.date).toDateString() %>
                                    </div>
                                </div>         
                            <%})%>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="/static/script.js "></script>
</body>