
<body class="bg-gray-900">
    <!-- sidebar -->
    


<div class="fixed z-30 hidden h-screen col-span-4 -ml-32 overflow-y-auto bg-gray-800 border-t shadow-2xl mt-14 sm:mt-0 md:block " id="sideMenu">
    <div class="py-20 mt-">
        <ul class="justify-center -mt-16 space-y-4 text-lg space-x-">
            <li class="h-12 ml-20 text-lg text-red-400 border-b px-14 md:flex hover:text-white">
                <a class="flex transition duration-500 ease-in-out select-none hover:text-white" href="/">
                    &nbsp; RozzayCrypto™
                </a>
            </li>
            <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                <a class="flex transition duration-500 ease-in-out select-none hover:text-white" href="/dashboard">
                    <span class="h-10 text-2xl text-center duration-700 transform ">
                        <img src="/static/img/dash_icons/dashboard_50px.png " alt="" class="h-6">
                    </span>
                    &nbsp; Dashboard
                </a>
            </li>
            <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/deposit">
                    <span class="h-10 text-2xl text-center duration-700 transform ">
                        <img src="/static/img/dash_icons/add_new_50px.png " alt="" class="h-6">
                    </span>
                    &nbsp;Deposit
                </a>
            </li>
            <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/verify ">
                    <span class="h-10 text-2xl text-center duration-700 transform ">
                        <img src="/static/img/dash_icons/upload_document_50px_2.png " alt="" class="h-6">
                    </span>
                    &nbsp; Verification
                </a>
            </li>
            <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/withdraw ">
                    <span class="h-10 text-2xl text-center duration-700 transform ">
                        <img src="/static/img/dash_icons/bank_building_50px_2.png " alt="" class="h-6">
                    </span>
                    &nbsp;Withdraw&nbsp&nbsp;Funds
                </a>
            </li>
            <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/notification ">
                    <span class="h-10 text-2xl text-center duration-700 transform ">
                        <img src="/static/img/dash_icons/notification_50px.png " alt="" class="h-6">
                    </span>
                    &nbsp;Notifications
                </a>
            </li>
            <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/transacts">
                    <span class="h-10 text-2xl text-center duration-700 transform ">
                        <img src="/static/img/dash_icons/ledger_50px.png " alt="" class="h-6">
                    </span>
                    &nbsp;Transaction&nbsp;history
                </a>
            </li>
            <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/pending_withdraw">
                    <span class="h-10 text-2xl text-center duration-700 transform ">
                        <img src="/static/img/dash_icons/icons8_expired_50px.png " alt="" class="w-10">
                    </span>
                    &nbsp;Pending&nbsp;withdrawals
                </a>
            </li>
            <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/pending_deposit">
                    <span class="h-10 text-2xl text-center duration-700 transform ">
                        <img src="/static/img/dash_icons/payment_history_50px.png " alt="" class="h-6">
                    </span>
                    &nbsp;Pending&nbsp;deposits
                </a>
            </li>
            <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/profile">
                    <span class="h-10 text-2xl text-center duration-700 transform ">
                        <img src="/static/img/dash_icons/profile_50px.png " alt="" class="h-6">
                    </span>
                    &nbsp; Profile
                </a>
            </li>
        </ul>
    </div>
</div>



    <!-- sidebar ends -->
    <div class="md:ml-60 ">
        <!-- topnav -->
        

<div class="fixed z-30 flex items-center w-full h-16 gap-20 -mt-2 bg-gray-800 shadow-2xl justify-between md:justify-center md:gap-3">
    <div class="px-4 cursor-pointer md:hidden" id="ham">
        <img src="/static/img/dash_icons/icons8_menu_50px.png " alt="hamburger" class="h-8">
    </div>
    <div class="ml-60   ">
        <nav class="shadow-lg ">
            <ul class="flex gap-4 text-white text-md ">
                <li>logout </li>
                <li class="flex gap-3 " >
                    <a href="/logout/">
                        <img src="/static/img/dash_icons/shutdown_50px_1.png  " alt="" class="h-6 ">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
        <!-- / .topnav -->
        <div class="flex grid-cols-12">
            <div class="px-4 py-10 mt-10 md:p-3 sm:px-10" id="main_content">
                <div class="">
                    <div class="py-5 text-lg text-white md:text-2xl ">
                        <div class="flex items-center gap-2">
                            <img src="/static/img/dash_icons/upload_document_50px_2.png " alt="" class="h-6">
                            Verification section
                        </div>
                    </div>
                    <div class="grid gap-4 lg:grid-cols-12 md:gap-2">
                        <div class="px-6 py-6 mx-auto text-white bg-gray-800 rounded-lg lg:col-span-3 lg:h-48 xl:col-span-5 xl:h-full xl:py-16">
                            You are required to verify your Account so as to enjoy the full potential of this platform, some features might be diabled if your Account have not been verified.<br>
                            Upload the listed Documents and await your Verification to be approved
                        </div>
                        <div class="bg-gray-800 rounded-lg lg:col-span-9 xl:col-span-7">
                            <div class="px-5 py-1 sm:px-16 lg:px-5">
                                <% if(req.user.verify_status === "unverified"){%>
                                    <form method="post" enctype='multipart/form-data'>
                                        <%-include("./partials/messages") %>
                                        <div class="text-red-300 lg:px-5 bg-gray-800 rounded-2xl mt-3 shadow-2xl p-5 shadow-inner">
                                        <div id="div_id_doc_type" class="mb-3"> <label for="id_doc_type" class="block text-gray-700 text-sm font-bold mb-2">
                                        Doc type<span class="asteriskField">*</span> </label> <div class="mb-3"> <div class="relative">
                                        <select class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-gray-700" name="doc_type" > 
                                        <option value="">---------</option> 
                                        <option value="Driving licence" >Driving_licence</option> 
                                        <option value="Id" >Id</option> <option value="Passport_id" >Passport</option> 
                                        <option value="others" >other</option> </select>
                                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"> <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg> </div>
                                        </div>
                                        </div> </div> <div id="div_id_doc_uploaded" class="mb-3"> 
                                        <label for="id_doc_uploaded" class="block text-gray-700 text-sm font-bold mb-2">
                                        Doc uploaded<span class="asteriskField">*</span> </label> 
                                        <input type="file" name="doc_uploaded" accept="image/*" class="clearablefileinput " required id="id_doc_uploaded"> </div>
        
                                            <div class="py-8 lg:px-10 ">
                                                <button class="w-full py-2 text-center text-white bg-blue-500 shadow-2xl outline-none rounded-2xl hover:bg-blue-400 hover:text-black">
                                                    Upload Document
                                                </button>
                                            </div>
                                        </div>
                                        </form>
                                <%}else if(req.user.verify_status === "pending"){%>
                                    <div class="alert alert-success fade show mt-2" role="alert">
                                        Your document have been uploaded and is pending approval.
                                        if you have any issues withdrawing please contact an agent for help.

                                        Get help using the chat widget and any other medium provided.
                                      </div>
                                <%}else{%>
                                    <div class="alert alert-success fade show mt-2" role="alert">
                                        Your account is verified.
                                      </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/script.js "></script>