<body class="bg-gray-900">
    <style>
        select{
            color: #000;
            width: 100%;
            padding: 1em auto;
        }
        select option{
            color: #000;
        }
        .cash-tag, .bank-add{
            display: none;
        }
    </style>
    <!-- sidebar -->
    <div class="fixed z-30 hidden h-screen col-span-4 -ml-32 overflow-y-auto bg-gray-800 border-t shadow-2xl mt-14 sm:mt-0 md:block " id="sideMenu">
        <div class="py-20 mt-">
            <ul class="justify-center -mt-16 space-y-4 text-lg space-x-">
                <li class="h-12 ml-20 text-lg text-red-400 border-b px-14 md:flex hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white" href="/">
                        &nbsp; RozzayCrypto™
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white" href="/dashboard">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/dashboard_50px.png " alt="" class="h-6">
                        </span>
                        &nbsp; Dashboard
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/deposit">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/add_new_50px.png " alt="" class="h-6">
                        </span>
                        &nbsp;Deposit
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/verify ">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/upload_document_50px_2.png " alt="" class="h-6">
                        </span>
                        &nbsp; Verification
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/withdraw ">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/bank_building_50px_2.png " alt="" class="h-6">
                        </span>
                        &nbsp;Withdraw&nbsp&nbsp;Funds
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/notification ">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/notification_50px.png " alt="" class="h-6">
                        </span>
                        &nbsp;Notifications
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/transacts">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/ledger_50px.png " alt="" class="h-6">
                        </span>
                        &nbsp;Transaction&nbsp;history
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/pending_withdraw">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/icons8_expired_50px.png " alt="" class="w-10">
                        </span>
                        &nbsp;Pending&nbsp;withdrawals
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/pending_deposit">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/payment_history_50px.png " alt="" class="h-6">
                        </span>
                        &nbsp;Pending&nbsp;deposits
                    </a>
                </li>
                <li class="h-12 ml-20 text-sm text-gray-400 px-14 md:flex md:items-center hover:text-white">
                    <a class="flex transition duration-500 ease-in-out select-none hover:text-white " href="/profile">
                        <span class="h-10 text-2xl text-center duration-700 transform ">
                            <img src="/static/img/dash_icons/profile_50px.png " alt="" class="h-6">
                        </span>
                        &nbsp; Profile
                    </a>
                </li>
            </ul>
        </div>
    </div>
        <div class="md:ml-60 ">
            <!-- topnav -->
        <div class="fixed z-30 flex items-center w-full h-16 gap-20 -mt-2 bg-gray-800 shadow-2xl justify-between md:justify-center md:gap-3">
            <div class="px-4 cursor-pointer md:hidden" id="ham">
                <img src="/static/img/dash_icons/icons8_menu_50px.png " alt="hamburger" class="h-8">
            </div>
            <div class="ml-60">
                <nav class="shadow-lg ">
                    <ul class="flex gap-4 text-white text-md ">
                        <li>logout </li>
                        <li class="flex gap-3">
                            <a href="/logout/">
                                <img src="/static/img/dash_icons/shutdown_50px_1.png  " alt="" class="h-6 ">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- / .topnav -->        
        <div class="flex grid-cols-12">
            <div class="px-4 py-10 mt-10 md:p-3 sm:px-10" id="main_content">
                <div class="">
                    <div class="py-5 text-lg text-white md:text-2xl ">
                        <div class="flex items-center gap-2">
                            <img src="/static/img/dash_icons/bank_building_50px_2.png " alt="" class="h-6">
                            Withdrawal section
                        </div>
                    </div>
                    <div class="grid gap-4 lg:grid-cols-12 md:gap-2">
                        <div class="px-6 py-6 mx-auto text-white bg-gray-800 rounded-lg lg:col-span-3 lg:h-48 xl:col-span-5 md:text-sm text-xs lg:h-72">
                            Withdrawal is enabled for verified and acitive users Only.
                            if you have any issues withdrawing please contact an agent for help.<br><br>
                            get help using the chat widget and any other medium provided.
                        </div>
                        <div class="bg-gray-800 rounded-lg lg:col-span-9 xl:col-span-7">
                            <div class="px-5 py-1 sm:px-16 lg:px-5">
                                <form method="post" enctype='multipart/form-data'>
                                    <%-include("./partials/messages") %>
                                    <input type="hidden" name="csrfmiddlewaretoken" value="MSav2gYffR8gzM0tnpZAM5Wr0hpsj22nctmKNC5MdOSpDy5IZUoV4GA7AmwsSiEy">
                                        <div class="text-red-300 lg:px-5 bg-gray-800 rounded-2xl mt-3 shadow-2xl p-5 shadow-inner">
                                            <div id="div_id_amount" class="mb-3"> 
                                                <label for="id_amount" class="block text-white text-sm font-bold mb-2">
                                                    Payment Method<span class="asteriskField">*</span> 
                                                </label> 
                                                <select name="" id="">
                                                    <option value="bitcoin">Bitcoin</option>
                                                    <option value="cash">Cash App</option>
                                                    <option value="bank">Bank Transfer</option>
                                                </select>
                                            </div> 
                                            <div id="div_id_amount" class="mb-3"> 
                                                <label for="id_amount" class="block text-white text-sm font-bold mb-2">
                                                    Amount<span class="asteriskField">*</span> 
                                                </label> 
                                                <input required type="number" name="amount" step="any" class="numberinput bg-white px-4 rounded-lg block text-black appearance-none w-full border border-gray-300 py-2 leading-normal focus:outline-none"  id="id_amount"> 
                                            </div> 
                                            <div id="div_id_address" class="mb-3 b-address"> 
                                                <label for="id_address" class="block text-white text-sm font-bold mb-2">
                                                    Bitcoin Address<span class="asteriskField">*</span> 
                                                </label> 
                                                <input type="text" name="address" maxlength="30" class="textinput bg-white px-4 rounded-lg block text-black appearance-none w-full border border-gray-300 py-2 leading-normal focus:outline-none"  id="id_address"> 
                                            </div> 
                                            <div class="mb-3 cash-tag"> 
                                                <label for="id_address" class="block text-white text-sm font-bold mb-2">
                                                    Cash Tag<span class="asteriskField">*</span> 
                                                </label> 
                                                <input type="text" name="address" maxlength="30" class="textinput bg-white px-4 rounded-lg block text-black appearance-none w-full border border-gray-300 py-2 leading-normal focus:outline-none"  id="id_address"> 
                                            </div> 
                                            <div class="mb-3 bank-add">
                                                <label for="id_address" class="block text-white text-sm font-bold mb-2">
                                                    Account Number<span class="asteriskField">*</span> 
                                                </label> 
                                                <input type="text" name="address" maxlength="30" class="textinput bg-white px-4 rounded-lg block text-black appearance-none w-full border border-gray-300 py-2 leading-normal focus:outline-none"  id="id_address"> 
                                            </div> 
                                            <div class="mb-3 bank-add">
                                                <label for="id_address" class="block text-white text-sm font-bold mb-2">
                                                   Beneficiary Account Name<span class="asteriskField">*</span> 
                                                </label> 
                                                <input type="text" name="address" maxlength="30" class="textinput bg-white px-4 rounded-lg block text-black appearance-none w-full border border-gray-300 py-2 leading-normal focus:outline-none"  id="id_address"> 
                                            </div> 
                                            <div class="mb-3 bank-add">
                                                <label for="id_address" class="block text-white text-sm font-bold mb-2">
                                                    Swift Code<span class="asteriskField">*</span> 
                                                </label> 
                                                <input type="text" name="address" maxlength="30" class="textinput bg-white px-4 rounded-lg block text-black appearance-none w-full border border-gray-300 py-2 leading-normal focus:outline-none"  id="id_address"> 
                                            </div> 
                                            <div class="mb-3 bank-add">
                                                <label for="id_address" class="block text-white text-sm font-bold mb-2">
                                                    Bank Name<span class="asteriskField">*</span> 
                                                </label> 
                                                <input type="text" name="address" maxlength="30" class="textinput bg-white px-4 rounded-lg block text-black appearance-none w-full border border-gray-300 py-2 leading-normal focus:outline-none"  id="id_address"> 
                                            </div> 
                                            <div id="div_id_pin" class="mb-3">
                                                 <label for="id_pin" class="block text-white text-sm font-bold mb-2">
                                                    Pin<span class="asteriskField">*</span> 
                                                 </label> <input required type="text" name="pin" maxlength="12" class="textinput bg-white px-4 rounded-lg block text-black appearance-none w-full border border-gray-300 py-2 leading-normal focus:outline-none"  id="id_pin"> 
                                                </div>
                                            <div class="py-8 lg:px-10 ">
                                                <button type="submit" class="w-full py-2 text-center text-white bg-blue-500 shadow-2xl outline-none rounded-2xl hover:bg-blue-600 hover:text-black">
                                                    Withdraw
                                                </button>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const hideAll = name => document.querySelectorAll(name).forEach(el => el.style.display = "none");
        const showAll = name => document.querySelectorAll(name).forEach(el => el.style.display = "block");
        
        const sel = document.querySelector("select");
        sel.addEventListener("input", evt => {
            const index = evt.target.selectedIndex;
            const method = evt.target[index].value;

            switch(method){
                case "cash":
                    hideAll(".bank-add");
                    hideAll(".b-address");
                    showAll(".cash-tag");
                    return;
                case "bank":
                    showAll(".bank-add");
                    hideAll(".b-address");
                    hideAll(".cash-tag");
                    return;
                default:
                    hideAll(".bank-add");
                    showAll(".b-address");
                    hideAll(".cash-tag");
                    return;

            }
        });
    </script>
    <script src="/static/script.js "></script>
</body>